<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classroom Website</title>
    <link rel="stylesheet" href="../styles.css">
    <script src="../js/script.js" defer></script>
    <script src="../js/banner.js" defer></script>
    <script src="../js/hamburguer.js" defer></script>
</head>

<body>
       <!-- Cabeçalho -->
       <header class="header">
        <div class="header-left">
            <img src="../img/logo.png">
            <h1 class="classroom-name"><a href="../index.html">Instituto da Cidadania<br> José Pires</a></h1>
        </div>
        <div class="nav">
            <ul>
                <li><a href="../index.html">
                        <p>Início</p>
                    </a></li>
                <li><a href="comoapoiar.html">
                        <p>Como apoiar</p>
                    </a></li>
                <li><a href="quemsomos.html">
                        <p>Quem somos</p>
                    </a></li>
                <li><a href="projetos.html">
                        <p>Projetos</p>
                    </a></li>
                <li><a href="contatos.html">
                        <p>Contate-nos</p>
                    </a></li>
                <li><a href="https://www.instagram.com/ong_josepires/"><img src="../img/icons/instagram.png"></a></li>

            </ul>
            <button class="menu-toggle" id="menu-btn">
                ☰ <!-- Ícone do hambúrguer -->
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu">
            <ul>
                <li><a href="../index.html">
                        <p>Início</p>
                    </a></li>
                <li><a href="comoapoiar.html">
                        <p>Como apoiar</p>
                    </a></li>
                <li><a href="quemsomos.html">
                        <p>Quem somos</p>
                    </a></li>
                <li><a href="projetos.html">
                        <p>Projetos</p>
                    </a></li>
                <li><a href="contatos.html">
                        <p>Contate-nos</p>
                    </a></li>
                <li><a href="https://www.instagram.com/ong_josepires/"><img src="../img/icons/instagram.png">
                        Instagram</a></li>
            </ul>
        </div>
    </header>


    <!-- Conteúdo Principal -->
    <main>
        <section class="donation-container">
            <div class="donation-content">
                <h1>DOE PARA O INSTITITO JOSÉ PIRES</h1>
                <h2>Ajude, apoie, transforme!</h2>
                <p>
                    Numa realidade difícil e repleta de adversidades, praticar gestos de caridade nos faz relembrar do
                    poder da união e de como pequenos gestos podem fazer toda a diferença. A doação é um ato solidário
                    que preenche a alma e semeia a esperança! Para mudar o mundo, é preciso fazer bem a quem não tem
                    possibilidades de retribuir.
                </p>
                <ul class="bank-infos">
                    <li>
                        <div class="bank-details">
                            <p><strong>ONG - Instituto José Pires</strong></p>
                            <p>Banco do Brasil</p>
                            <p>Ag </p>
                            <p>Cc </p>
                            <p>CNPJ: </p>
                            <p><strong>Chave PIX (CNPJ): </strong></p>
                        </div>
                    </li>
                    <li>
                        <div class="qr-code">
                            <p>PIX: pagamento por <strong>QR Code</strong></p>
                            <img src="img/qr-code.png" alt="QR Code para doação">
                        </div>
                    </li>
                </ul>


            </div>
        </section>
        <div class="donation-bar"></div>
    </main>


    <!-- Rodapé -->
    <footer class="footer-view">
        <div class="footer-container">
            <div class="footer-about">
                <h4>Nossa missão</h4>
                <p>Proporcionar educação de qualidade, apoio psicossocial, alimentação e cuidados médicos para crianças
                    em situação de vulnerabilidade. Além de empoderar as famílias e comunidades para garantir um
                    ambiente saudável e acolhedor para o desenvolvimento...</p>
                <a href="../views/quemsomos.html">Continuar lendo</a>
            </div>
            <div class="footer-links">
                <h4>Links Rápidos</h4>
                <ul>
                    <li><a href="../index.html">
                        <p>Início</p>
                    </a></li>
                    <li><a href="../../views/comoapoiar.html">
                            <p>Como apoiar</p>
                        </a></li>
                    <li><a href="../../views/quemsomos.html">
                            <p>Quem somos</p>
                        </a></li>
                    <li><a href="../../views/projetos.html">
                            <p>Projetos</p>
                        </a></li>
                    <li><a href="../../views/contatos.html">
                            <p>Contate-nos</p>
                        </a></li>
                </ul>
            </div>
            <div class="footer-newsletter">
                <h4>Entre em contato</h4>
                <form action="#">
                    <input type="email" placeholder="Digite seu e-mail" required>
                    <button type="submit">Inscrever-se</button>
                </form>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2024. Todos os direitos reservados.</p>

        </div>
    </footer>
</body>

</html>