<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classroom Website</title>
    <link rel="stylesheet" href="../styles.css">
    <script src="../js/script.js" defer></script>
    <script src="../js/banner.js" defer></script>
    <script src="../js/hamburguer.js" defer></script>
</head>

<body>
        <!-- Cabeçalho -->
        <header class="header">
            <div class="header-left">
                <img src="../img/logo.png">
                <h1 class="classroom-name"><a href="../index.html">Instituto da Cidadania<br> José Pires</a></h1>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="../index.html">
                            <p>Início</p>
                        </a></li>
                    <li><a href="comoapoiar.html">
                            <p>Como apoiar</p>
                        </a></li>
                    <li><a href="quemsomos.html">
                            <p>Quem somos</p>
                        </a></li>
                    <li><a href="projetos.html">
                            <p>Projetos</p>
                        </a></li>
                    <li><a href="contatos.html">
                            <p>Contate-nos</p>
                        </a></li>
                    <li><a href="https://www.instagram.com/ong_josepires/"><img src="../img/icons/instagram.png"></a></li>
    
                </ul>
                <button class="menu-toggle" id="menu-btn">
                    ☰ <!-- Ícone do hambúrguer -->
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu">
                <ul>
                    <li><a href="../index.html">
                            <p>Início</p>
                        </a></li>
                    <li><a href="comoapoiar.html">
                            <p>Como apoiar</p>
                        </a></li>
                    <li><a href="quemsomos.html">
                            <p>Quem somos</p>
                        </a></li>
                    <li><a href="projetos.html">
                            <p>Projetos</p>
                        </a></li>
                    <li><a href="contatos.html">
                            <p>Contate-nos</p>
                        </a></li>
                    <li><a href="https://www.instagram.com/ong_josepires/"><img src="../img/icons/instagram.png">
                            Instagram</a></li>
                </ul>
            </div>
        </header>
    

    <!-- Conteúdo Principal -->
    <main>
        <div class="recent-posts">
            <h2>Projetos</h2>
            <div class="post-container">
                <div class="post-card">
                    <a href="http://institutojosepires.com.br/pedacinhodossonhos/unidade2.php" class="post-image-link">
                        <img src="../img/pedacinhodossonhos.jpeg" alt="Post Image" class="post-image" />
                    </a>
                    <div class="post-content">
                        <h3>Pedacinho dos Sonhos</h3>
                        <div class="post-meta">
                            <span class="views">👁 0</span>
                            <span class="comments">💬 0</span>
                            <span class="likes">❤️ <span class="like-count">0</span></span>
                        </div>
                    </div>
                </div>
                <div class="post-card">
                    <a href="https://institutojosepires.com.br/" class="post-image-link">
                        <img src="../img/pedacinhodoceu.jpeg" alt="Post Image" class="post-image" />
                    </a>
                    <div class="post-content">
                        <h3>Pedacinho do Céu</h3>
                        <div class="post-meta">
                            <span class="views">👁 0</span>
                            <span class="comments">💬 0</span>
                            <span class="likes">❤️ <span class="like-count">0</span></span>
                        </div>
                    </div>
                </div>
                <div class="post-card">
                    <a href="galerias/galeria_atibaia.html" class="post-image-link">
                        <img src="../img/galeria/Atibaia/WhatsApp Image 2024-09-13 at 13.43.50 (1).jpeg"
                            alt="Post Image" class="post-image" />
                    </a>
                    <div class="post-content">
                        <h3>Projeto educação Atibaia</h3>
                        <div class="post-meta">
                            <span class="views">👁 0</span>
                            <span class="comments">💬 0</span>
                            <span class="likes">❤️ <span class="like-count">0</span></span>
                        </div>
                    </div>
                </div>
                <div class="post-card">
                    <a href="galerias/galeria_hortolandia.html" class="post-image-link">
                        <img src="../img/galeria/Praca da cidadania de hortolandia/WhatsApp Image 2024-09-13 at 13.56.50 (1).jpeg"
                            alt="Post Image" class="post-image" />
                    </a>
                    <div class="post-content">
                        <h3>Praça da Cidadania de Hortoladia</h3>
                        <div class="post-meta">
                            <span class="views">👁 0</span>
                            <span class="comments">💬 0</span>
                            <span class="likes">❤️ <span class="like-count">0</span></span>
                        </div>
                    </div>
                </div>
                <div class="post-card">
                    <a href="galerias/galeria_itapevi.html" class="post-image-link">
                        <img src="../img/galeria/Praça da cidadania de Itapevi/WhatsApp Image 2024-09-13 at 13.44.31.jpeg"
                            alt="Post Image" class="post-image" />
                    </a>
                    <div class="post-content">
                        <h3>Praça da Cidadania de Itapevi</h3>
                        <div class="post-meta">
                            <span class="views">👁 0</span>
                            <span class="comments">💬 0</span>
                            <span class="likes">❤️ <span class="like-count">0</span></span>
                        </div>
                    </div>
                </div>

                <!-- Novos post-cards podem ser adicionados aqui -->
            </div>
        </div>
    </main>


    <!-- Rodapé -->
    <footer class="footer-view">
        <div class="footer-container">
            <div class="footer-about">
                <h4>Nossa missão</h4>
                <p>Proporcionar educação de qualidade, apoio psicossocial, alimentação e cuidados médicos para crianças
                    em situação de vulnerabilidade. Além de empoderar as famílias e comunidades para garantir um
                    ambiente saudável e acolhedor para o desenvolvimento...</p>
                <a href="../views/quemsomos.html">Continuar lendo</a>
            </div>
            <div class="footer-links">
                <h4>Links Rápidos</h4>
                <ul>
                    <li><a href="../index.html">
                        <p>Início</p>
                    </a></li>
                    <li><a href="../../views/comoapoiar.html">
                            <p>Como apoiar</p>
                        </a></li>
                    <li><a href="../../views/quemsomos.html">
                            <p>Quem somos</p>
                        </a></li>
                    <li><a href="../../views/projetos.html">
                            <p>Projetos</p>
                        </a></li>
                    <li><a href="../../views/contatos.html">
                            <p>Contate-nos</p>
                        </a></li>
                </ul>
            </div>
            <div class="footer-newsletter">
                <h4>Entre em contato</h4>
                <form action="#">
                    <input type="email" placeholder="Digite seu e-mail" required>
                    <button type="submit">Inscrever-se</button>
                </form>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2024. Todos os direitos reservados.</p>

        </div>
    </footer>
</body>

</html>