<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classroom Website</title>
    <link rel="stylesheet" href="../styles.css">
    <script src="../js/script.js" defer></script>
    <script src="../js/banner.js" defer></script>
    <script src="../js/hamburguer.js" defer></script>
</head>

<body>
    <!-- Cabeçalho -->
    <header class="header">
        <div class="header-left">
            <img src="../img/logo.png">
            <h1 class="classroom-name"><a href="../index.html">Instituto da Cidadania<br> José Pires</a></h1>
        </div>
        <div class="nav">
            <ul>
                <li><a href="../index.html">
                        <p>Início</p>
                    </a></li>
                <li><a href="comoapoiar.html">
                        <p>Como apoiar</p>
                    </a></li>
                <li><a href="quemsomos.html">
                        <p>Quem somos</p>
                    </a></li>
                <li><a href="projetos.html">
                        <p>Projetos</p>
                    </a></li>
                <li><a href="contatos.html">
                        <p>Contate-nos</p>
                    </a></li>
                <li><a href="https://www.instagram.com/ong_josepires/"><img src="../img/icons/instagram.png"></a></li>

            </ul>
            <button class="menu-toggle" id="menu-btn">
                ☰ <!-- Ícone do hambúrguer -->
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu">
            <ul>
                <li><a href="../index.html">
                        <p>Início</p>
                    </a></li>
                <li><a href="comoapoiar.html">
                        <p>Como apoiar</p>
                    </a></li>
                <li><a href="quemsomos.html">
                        <p>Quem somos</p>
                    </a></li>
                <li><a href="projetos.html">
                        <p>Projetos</p>
                    </a></li>
                <li><a href="contatos.html">
                        <p>Contate-nos</p>
                    </a></li>
                <li><a href="https://www.instagram.com/ong_josepires/"><img src="../img/icons/instagram.png">
                        Instagram</a></li>
            </ul>
        </div>
    </header>


    <!-- Conteúdo Principal -->
    <main>
        <!-- Quem Somos -->
        <section class="weekly-activities-page">
            <h1>Quem Somos</h1>
            <div class="activity">
                <div class="activity-content">
                    <p>O Terceiro setor vem contribuindo para o cumprimento do Objetivo de desenvolvimento Sustentável,
                        Educação de Qualidade etc., uma vez que complementam os ensino formal tratando as disciplinas ou
                        temas
                        transversais por meio de abordagens lúdicas, através das artes, cultura, esportes e tecnologias.
                        As Organizações da Sociedade Civil têm como alguns de seus objetivos: o desenvolvimento
                        sustentável,
                        o combate à pobreza, a educação, saúde, assistência social, entre outros.<br><br><br>
                        Nesse sentindo a Ong Instituto de Cidadania José Pires vem empenhando este papel desde 2016, ano
                        de sua fundação tendo sua sede inicial Na Alameda Tutóia, bairro do Gopoúva na cidade da
                        Guarulhos/SP, onde inicialmente desenvolveu aulas de Inglês, reforço escolar e oficinas de
                        artesanato a população vulnerável local. Vendo a necessidade da população, em 2019, com muito
                        trabalho e empenho dos seus voluntários, a ONG INSTITUTO DE CIDADANIA JOSÉ PIRES construiu uma
                        Unidade Escolar com nome “Pedacinho do Céu” localizada na Rua Pereiro,192- Vila Nova Cumbica em
                        Guarulhos- SP, onde oferece atendimento educacional em período integral para 200 crianças de 0 a
                        N5 anos e 11 meses, e empregando 32 (trinta e duas) pessoas em seu quadro de funcionários e, no
                        dia dois de dezembro do mesmo ano assinou um termo de colaboração com a Secretaria de Educação
                        do município de Guarulhos, onde já foram atendidas cerca de 900 crianças, promovendo um trabalho
                        de acolhida, cuidados, vivencias e aprenzados.<br><br><br>
                        Em 2020 a ONG fez parte do projeto no municipio de Guarulhos o “RESTAURANTE DO BEM”, durante a
                        pandemia COVID19, onde diversas pessoas passaram por situações de desemprego em situação de
                        vulnerabilidade social, a ONG fornecia diariamente 600 marmitas nos períodos do almoço e jantar,
                        a fim de ajudar e amenizar aquela crise.<br><br><br>
                        Em setembro de 2023, com a principal finalidade de atender e auxiliar as famílias, bem como a
                        comunidade escolar, garantindo-lhes o direito a alimentação saudável, como forma de garantia do
                        Direito Humano a Alimentação Adequada e combate a todas as formas de má nutrição, evitando
                        problemas sociais como a fome e insegurança alimentar, possibilitando a complementação alimentar
                        a famílias com vulnerabilidade social, a ONG-INSTITUTO DE CIDADANIA JOSÉ PIRES assinou o Termo
                        de Parceria junto a Secretaria de Desenvolvimento Assistencial e Inclusão Social de Guarulhos,
                        com o Banco de alimentos do município, para o recebimento e distribuição de alimentos.
                        <br><br><br>
                        No ano de 2023, a ONG-INSTITUTO DE CIDADANIA JOSÉ PIRES, visando ampliar o seu trabalho,
                        participou do Chamamento Público do Fundo Social do Estado de São Paulo, onde saiu vencedora e
                        assinou o termo de parceria da FUSSP PRAÇA DA CIDADANIA; Processo Administrativo:
                        001.00005366/2023-41, Termo de Colaboração FUSSP Nº 20230813744, onde a ONG gerencia a Escola de
                        Qualificação Profissional da Praça da Cidadania localizada no município de Itapevi-SP, onde é
                        oferecido gratuitamente cerca de 200 vagas nos cursos profissionalizantes, nas áreas de Moda e
                        Costura, Administração e Empreendedorismo, Informática, Beleza e Bem Estar, Gastronomia,
                        Construção Cível, promovendo a empregabilidade e geração de renda, além de efetuar para a
                        comunidade local de alta vulnerabilidade ações voltadas para as áreas de educação, saúde,
                        esporte, cultura, terceira idade e primeira infância, mudando assim a realidade daquela
                        comunidade.
                        <br><br><br>
                        Neste ano de 2024, atendendo ao Chamamento Público 03/2023 da FUSSP/SP, a ONG foi a primeira
                        mais bem classificados e também assinou o Termo de Colaboração FUSSP Nº 20231123101, assumindo
                        assim a gestão da Praça da Cidadania da cidade de Hortolandia/SP, onde também é oferecido
                        gratuitamente entorno de 200 vagas nos cursos profissionalizantes promovendo a empregabilidade e
                        geração de renda além de efetuar para a comunidade local ações voltadas para as áreas de
                        educação, saúde, esporte, cultura, terceira idade e primeira infância, mudando assim a realidade
                        daquela comunidade.
                        <br><br><br>
                        Em Janeiro deste ano a ONG foi a mais bem classificada, pois participou do Chamamento Público
                        29/2023 do Municipio de Atibaia/SP, assinando o Termo de Colaboração de nº021/024 onde a ONG
                        executa o “PROJETO EDUCAÇÃO NO PERÍODO INTEGRAL” na EM PEDRO DE ALCÂNTARA SANTOS SILVA e na EM
                        CATARINA MARIA DOS REIS - Polo II. Segundo a LDBEN 9.394/96, em seu artigo 34, determina que a
                        jornada escolar de quatro horas no ensino Fundamental será progressivamente ampliada promovendo
                        a permanência do aluno na escola. Para garantir esta permanência o municipio de Atibaia criou
                        este projeto onde oferece para 240 crianças do 1º ao 5º ano do Ensino Fundamental oficinas
                        pedagógicas de Jogos de Lingua Portuguesa, literatura, produção de textos, matemática, Educação
                        Ambiental, Artes, Música, Educaçao Digital, Dinamica socio-emocional e atividades recreativas.
                        <br><br><br>
                        Neste ano também abrimos a segunda Unidade Educacional em Guarulhos/SP com atendimento para 90
                        crianças de 0 á 5 anos e 11 meses, localizada a Rua Aurora do Norte nº115 – Vila Barros, sob o
                        termo de Colaboração de nº0424/2024.
                        <br><br><br>
                        Desde sua criação, a ONG-INSTITUTO DE CIDADANIA JOSÉ PIRES vem desempenhando o seu trabalho com
                        transparência e competência para que a socieda de tenham acesso a uma educação rica em valores
                        humanos, arte e cultura, que incentive a liberdade e a criatividade, para que se formem com
                        capacidade de enfrentar os desafios do futuro, com vontade de aprender sempre e capazes de
                        construir uma sociedade mais justa, ética, solidária, inclusiva, democrática e sustentável.
                        <br><br><br>
                    </p>
                </div>
        </section>
        <section class="weekly-activities-page">
            <h1>Missão, Valores e Visão</h1>
            <div class="activity">
                <h4>Missão</h4>
                <div class="activity-content">
                    <p>Proporcionar educação de qualidade, apoio psicossocial, alimentação e cuidados médicos para
                        crianças em situação de vulnerabilidade. Além de empoderar as famílias e comunidades para
                        garantir um ambiente saudável e acolhedor para o desenvolvimento das crianças. Temos por
                        finalidade promover e desenvolver, em parcerias, projetos na área da Educação em geral, em
                        especial educação infantil como creches, (CEI- Centro de Educaçã Infantil), Escola, Pré-escola e
                        outras que atendam as crianças, adolescentes, jovens, adultos, e os idosos, como também nas
                        áreas de Assistência Social, Arte, Cultura, Turismo, Meio ambiente, Esporte, Capacitação,
                        Inclusão social, Saúde entre outras ações que forem necessárias e atendam aos ansseios da
                        sociedade.
                    </p>
                </div>
                <h4>Valores</h4>
                <div class="activity-content">
                    <p>Contribuir para um futuro onde todas as pessoas, independentemente de suas circunstâncias, tenham
                        acesso a oportunidades educacionais de qualidade. Onde a educação seja reconhecida como um
                        direito humano fundamental e onde as barreiras para a aprendizagem sejam reduzidas ou
                        eliminadas.
                    </p>
                </div>
                <h4>Visão</h4>
                <div class="activity-content">
                    <p>Respeito, Ética, Coragem, Empatia, Compromisso, Engajamento, Transparência.</p>
                </div>
            </div>
        </section>

    </main>



    <!-- Rodapé -->
    <footer class="footer-view">
        <div class="footer-container">
            <div class="footer-about">
                <h4>Nossa missão</h4>
                <p>Proporcionar educação de qualidade, apoio psicossocial, alimentação e cuidados médicos para crianças
                    em situação de vulnerabilidade. Além de empoderar as famílias e comunidades para garantir um
                    ambiente saudável e acolhedor para o desenvolvimento...</p>
                <a href="../views/quemsomos.html">Continuar lendo</a>
            </div>
            <div class="footer-links">
                <h4>Links Rápidos</h4>
                <ul>
                    <li><a href="../index.html">
                            <p>Início</p>
                        </a></li>
                    <li><a href="../../views/comoapoiar.html">
                            <p>Como apoiar</p>
                        </a></li>
                    <li><a href="../../views/quemsomos.html">
                            <p>Quem somos</p>
                        </a></li>
                    <li><a href="../../views/projetos.html">
                            <p>Projetos</p>
                        </a></li>
                    <li><a href="../../views/contatos.html">
                            <p>Contate-nos</p>
                        </a></li>
                </ul>
            </div>
            <div class="footer-newsletter">
                <h4>Entre em contato</h4>
                <form action="#">
                    <input type="email" placeholder="Digite seu e-mail" required>
                    <button type="submit">Inscrever-se</button>
                </form>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2024. Todos os direitos reservados.</p>

        </div>
    </footer>
</body>

</html>